/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
body {
  --main-color: #4250f4;
  --bg-color: #ffffff;
  font-family: "Oswald", sans-serif;
  margin-top: 15vh;
  margin-bottom: 15vh;
  color: var(--main-color);
  background-color: var(--bg-color);
}

body.dark-theme {
  --main-color: #ffffff;
  --bg-color: #262626;
}

#error {
  text-align: center;
}

#errorhead {
  font-size: 100px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#back {
  color: var(--main-color);
  text-decoration: none;
  padding: 5px;
  border: solid 2px transparent;
  border-radius: 50px;
  -webkit-transition-duration: 0.05s;
  transition-duration: 0.05s;
  text-transform: uppercase;
}

#back:hover {
  border-color: var(--main-color);
}

