/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
body {
  font-family: "Oswald", sans-serif;
  margin-top: 15vh;
  margin-bottom: 15vh;
  color: #4250f4;
}

main {
  align-content: center;
  justify-content: center;
}

#error {
  text-align: center;
}

#errorhead {
  font-size: 100px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#back {
  color: #4250f4;
  text-decoration: none;
  padding: 5px;
  border: solid 2px transparent;
  border-radius: 50px;
  transition-duration: 0.05s;
}

#back:hover {
  border-color: #4250f4;
}

