/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
body {
   font-family: "Cabin", sans-serif; 
}

header {
  margin-top: 10px;
}

#title {
  font-family: "Oswald", sans-serif;
}

nav p {
  color: #000000;
  text-decoration: none;
  display: inline;
  margin-right: 10px;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('https://raw.githubusercontent.com/locness3/images-host/master/matt-lamers-261639-unsplash.jpg');
  background-size: cover;
  color: #ffffff;
  height: 500px;
  
}

.jumbotron-header {
  font-size: 60px;
  font-weight: 700;
}

.button {

}

.button a {
  display: block;
}

.stuff1 {
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  background-image: url("https://i.cubeupload.com/cDVqYM.png");
  background-position: center;
}

.stuff1 h2{
  color: #000000;
}

.stuff2 {
  background-image: url("https://raw.githubusercontent.com/locness3/images-host/master/ahmed-saffu-420396-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.stuff3 {
  background-repeat: no-repeat;
  background-size: cover;
  color: #000000;
  background-image: url("https://raw.githubusercontent.com/locness3/images-host/master/lennyhome.png");
  background-position: center;

}
