/* fonts */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:500&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  display: flex;
  height: 100vh;
}

body {
  font-family: "Source Code Pro", monospace;
  font-size: 24px;
  margin: auto;
  text-align: center;
  color: #b58900;
  background-color: #002b36;
}

a {
  color: inherit;
}

h1 {
  font-weight: normal;
  color: #859900;
}

small {
  color: #657b83;
}